# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.venv

# frontend node_modules
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/public/sounds

# Backend node_modules
backend/node_modules/

# Python specific ignores
__pycache__/
*.py[cod]
*$py.class

# Large training files and numpy arrays
Python/ImageDenoise/BaseModels/train_images.npy
Python/ImageDenoise/BaseModels/val_images.npy
Python/ImageDenoise/BaseModels/training_history.npy
Python/ImageDenoise/BaseModels/logs/
Python/AuidoDenoise/BaseModels/training_data/
Python/AuidoDenoise/BaseModels/validation_data/

# Image denoising model files
Python/ImageDenoise/BaseModels/*.h5
Python/ImageDenoise/BaseModels/*.keras
Python/ImageDenoise/BaseModels/denoising_autoencoder_architecture.json
Python/ImageDenoise/BaseModels/*.weights.h5
Python/ImageDenoise/FineTunedModels/*.h5
Python/ImageDenoise/FineTunedModels/*.keras
Python/ImageDenoise/FineTunedModelsv2/*.h5
Python/ImageDenoise/FineTunedModelsv2/*.keras
Python/ImageDenoise/Validations/**/*.json
Python/ImageDenoise/Validations/**/metrics/**/*

# Audio denoising model files
Python/AuidoDenoise/BaseModels/*.h5
Python/AuidoDenoise/BaseModels/*.keras
Python/AuidoDenoise/BaseModels/audio_denoiser_architecture.json
Python/AuidoDenoise/BaseModels/*.weights.h5
Python/AuidoDenoise/FineTunedModels/*.h5
Python/AuidoDenoise/FineTunedModels/*.keras
Python/AuidoDenoise/FineTunedModelsv2/*.h5
Python/AuidoDenoise/FineTunedModelsv2/*.keras
Python/AuidoDenoise/Validations/**/*.json
Python/AuidoDenoise/Validations/**/metrics/**/*






